body {
    background-color: gainsboro;
}
.log-reg-container {
    border: 1px solid;
    border-color:#5bc0de;
    border-radius:20px;
    background-color: #f7f7f7;
    margin-top: 6vh;
    padding-top: 30px;
    padding-bottom: 20px;
}
.l-r-cim {
    background-color: #5bc0de;
    border-radius: 10px;
    padding: 20px;
    margin: 0 25px 0 25px;
    word-wrap: break-word;
}
.form-container {
    margin: 30px 50px 30px 50px;
}
.figyelm_uz {
    color: red;
}
.navbar-default {
    border-color: #5bc0de;
    
}
.nav.navbar-nav > li.active a{
         
    background-color: #5bc0de;
    color: white;
  }
.navbar-form {
    margin-right: 70px;
}
.ker-felt-container {
    border: 1px solid;
    border-color:#5bc0de;
    border-radius:20px;
    background-color: #f7f7f7;
    margin-top: 8vh;
    padding-top: 30px;
    padding-bottom: 20px;
}
.feltolteseim-frm {
    padding-left: 2px;
    padding-right: 2px;
}
li.nav-elem-eltuntet {
    display: none;
}
li.pointer {
    pointer-events: none;
}
.div-adatok {
    background-color:#0092ab;
    border-radius: 4px;
    padding: 20px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    
}
.div-adatok:hover {
    background-color:#0086b3;
}
.tartalom-a {
    text-decoration: none;
    display: block;
}
.tartalom-a:hover {
    text-decoration: none;
    color: white;

}
textarea {
    resize: none;
 }
.kereseim-gomb {
    margin-top: 23px;
    margin-left: 3px;
}
.eltuntet {
    display: none;
}
.tartalom_cim {
    color: #ACD7C7;
}
.tartalom_alcim {
    color: #001B11;
}
.meretezett-szoveg {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dokumentum-adatok {
    margin-top: 15px;
}
iframe {
    height: 750px;
    width: 100%;
    margin-top: 15px;
    
}
.csillag {
    width: 15px;
    height: 15px;
}
.div-hozzaszolas {
    background-color:#0092ab;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 20px 15px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    word-wrap: break-word;
}
.ertekeles_szovegdoboz {
    background-color:#DCDCDC;
    border-radius: 0px 0px 7px 7px;
    padding: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 15px;
    border: 2px solid;
    border-color: #0092ab;
    word-wrap: break-word;
}
.hozzaszolo {
    font-weight: bold;
    margin-left: 15px;
}
.hozzaszolas-datuma {
    font-weight: bold;
    float: right;
}
.bejelent-gomb {
    margin-left: 10px;
    display: none;
    float: right;
    color: black;
    font-weight: bold;
    border: 1px solid;
}
.bejelent-gomb:hover {
    color: black;
    border: 1px solid;
}
.div-hozzaszolas:hover .bejelent-gomb {
    display: inline-block;
}
#atlag_ertekeles {
    text-decoration: none;
}
.form-dokumentum-muveletek {
    background-color:#DCDCDC;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px dashed;
    border-color: #0092ab;
    border-radius: 10px;
    
}
.form-dokumentum-muveletek input {
    font-weight: bold;
    color: black;
}
.form-dokumentum-muveletek input:hover {
    font-weight: bold;
    color: black;
}
#d-muveletek-gomb {
    color: black;
    font-weight: bold;
    background-color:  #ffcc00;
    border: 1px solid;
}
@media screen and (max-width: 700px) {
    .log-reg-container {
        margin-top: 0;
    }
    .form-container {
        margin: 25px 40px 25px 40px;
    }
    .l-r-cim {
        margin: 0 20px 0 20px;

    }
    #kis-meret {
        display: none;
    }
    .kereseim-gomb {
        margin-top: 0px;
        margin-left: 0px;
    }
    iframe {
        height: 600px;
        width: 100%;
        margin-top: 15px;
        
    }


  }
  @media screen and (max-width: 1120px) {
    .navbar-form {
        margin-right: 0;
    }
  }
  @media screen and (max-width: 1050px) {

  }