body {
    background-color: gainsboro;
}
.log-reg-container {
    border: 1px solid;
    border-color:#5bc0de;
    border-radius:20px;
    background-color: #f7f7f7;
    margin-top: 6vh;
    padding-top: 30px;
    padding-bottom: 20px;
}
.l-r-cim {
    background-color: #5bc0de;
    border-radius: 10px;
    padding: 20px;
    margin: 0 25px 0 25px;
}
.form-container {
    margin: 30px 50px 30px 50px;
}
.figyelm_uz {
    color: red;
}
.navbar-default {
    border-color: #5bc0de;
    
}
.nav.navbar-nav > li.active a{
         
    background-color: #5bc0de;
    color: white;
  }
.navbar-form {
    margin-right: 70px;
}
.ker-felt-container {
    border: 1px solid;
    border-color:#5bc0de;
    border-radius:20px;
    background-color: #f7f7f7;
    margin-top: 8vh;
    padding-top: 30px;
    padding-bottom: 20px;
}
.feltolteseim-frm {
    padding-left: 2px;
    padding-right: 2px;
}
li.nav-elem-eltuntet {
    display: none;
}
li.pointer {
    pointer-events: none;
}
.div-adatok {
    background-color:#0092ab;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;
    
}
.div-adatok:hover {
    background-color:#0086b3;
}
.tartalom-a {
    text-decoration: none;
    display: block;
    color: white;
    
}
.tartalom-a:hover {
    text-decoration: none;
    color: white;

}
@media screen and (max-width: 700px) {
    .log-reg-container {
        margin-top: 0;
    }
    .form-container {
        margin: 25px 40px 25px 40px;
    }
    .l-r-cim {
        margin: 0 20px 0 20px;

    }
    #kis-meret {
        display: none;
    }
  }
  @media screen and (max-width: 1120px) {
    .navbar-form {
        margin-right: 0;
    }
  }
  @media screen and (max-width: 1050px) {

  }